@use '../../styles/base' as *;

.home-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;

    width: 100vw;
    min-height: 100vh;
    padding: 2rem;

    .add-antivirus-btn {
        width: 100%;
        max-width: 20rem;
        height: 3.75rem;
    }

    .antiviruses-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2.5rem;

        width: 100%;
        height: calc(100% - 17rem);
    }

    h2 {
        text-align: center;
    }
}
