@use '../../../styles/base' as *;

.form-input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    color: $black;
}

.error-message {
    font-size: 0.875rem;
    color: $red;
}
