@use '../../../styles/base' as *;

.add-antivirus-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
    max-width: 38rem;
    min-height: 36rem;
    padding: 1rem;

    .compatibilities {
        display: flex;
        flex-direction: column;
        gap: 10px;

        width: 100%;
    }

    .add-btn {
        width: 100%;
        height: 3.75rem;

        font-size: 1.2rem;
    }
}
