@use '../../styles/base' as *;

.compatibility-container {
    display: flex;
    gap: 10px;

    .compatibility-icons {
        display: flex;
        justify-content: space-between;

        svg {
            width: 1.5rem;
            height: 1.5rem;

            @media (min-width: 36rem) {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}
